Tuple 
they immutable

In [13]:
a=(1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [14]:
a= 1,2,3,4
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [15]:
for val in a:
    print(val,end= '') #for printiing in one line

1234

In [16]:
print((1,2,3)+(1,2,3))

(1, 2, 3, 1, 2, 3)

In [17]:
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [18]:
my_tuple = ('a','p','p','i','e')
print(my_tuple.count('p'))
print(my_tuple.index('i'))

2
3

In [19]:
a1=list(a)
print(a1)#to convert in list from tuple.list and tuple are convertable

[1, 2, 3, 4]

In [20]:
val =[1,2,3,4,5,6,7]
print(val)   #val can be used here for two things,val variable is not wasted
val= tuple(val)
print(val)

[1, 2, 3, 4, 5, 6, 7]
(1, 2, 3, 4, 5, 6, 7)

Sets
 
they are unorded and every set is unique that is no repitation or duplication
use curly braces{}

In [21]:
s1={1,2,3,4,5,6,7,}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [22]:
#we can make set from list
my_set = set([1,2,3,4])
print(my_set)

{1, 2, 3, 4}

In [24]:
my={1,2,3,[4,5]}
print(my)

TypeError: unhashable type: 'list'

 to initiaalize a set we use set() function.
 we will never require an empty tuple so no use.
list we initiaze empty one with square braces.

In [ ]:
#to initilizle element
my_set = {1,3}
print(my_set)

{1, 3}

In [11]:
#to check data type
a=set()
print(type(a))

<class 'set'>

In [ ]:
#add an element
my_set.add(2)
print (my_set)

{1, 2, 3}

In [ ]:
#to add multiple elements
my_set.update([1,2,3,4])
print(my_set)

{1, 2, 3, 4}

In [ ]:
my_set={1,2,3,4,5}
#discard an element
my_set.discard(4)
print(my_set)

{1, 2, 3, 5}

In [ ]:
#t remove element
my_set={1,2,3,4,5,6}

my_set.remove(6)
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
#pops arandom number
my_set.pop()
print(my_set)

{2, 3, 4, 5}

In [ ]:
#clear my_set
my_set.clear()
print(my_set)

set()

set operations
(union,intrsection)

In [ ]:
A={1,2,3,4,5,6}
B={6,7,8,9,10,11}
#for union of sets
print(A|B) #DUPLICATES WILL BE AUTOMATICALLY BE REMOVED

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
B.union(A)#BOTH WILL GIVE SAME ANSWER

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
print(A&B) # it will give intersection of sets i.e 6

{6}

In [ ]:
A.intersection(B) #can also use intersection function

{6}

In [52]:
#to use - operator on A
print(A-B)

{1, 2, 3, 4, 5}

In [53]:
#to use - operator on b
print(B-A)

{7, 8, 9, 10, 11}

In [54]:
#SYMMETRIC DIFFERENCE 
print(A^B)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11}

In [56]:
A.symmetric_difference(B) #IT REMOVES THE ELEMENT WHICH IS COMMON IN BOTH THE SETS

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11}

CREATE 2 sets of electric devices and perform set operations on them

In [2]:

A= {'Fan','Tubelight','AC','Bulb','Refrigirator','Microwave'}
B= {'Table Fan','Tubelight','tv','bell'}
print(A.union(B))
print(A.intersection(B))
print(A.symmetric_difference(B))
print(B-A)

{'Fan', 'bell', 'tv', 'AC', 'Microwave', 'Tubelight', 'Table Fan', 'Refrigirator', 'Bulb'}
{'Tubelight'}
{'Fan', 'bell', 'tv', 'AC', 'Table Fan', 'Microwave', 'Refrigirator', 'Bulb'}
{'Table Fan', 'bell', 'tv'}

DICTIONARY

In [4]:
my_dict={'name':'shubhi','age':'20'} #in dictonary we wite with two things i.e key and value.
print(my_dict)# and value is shubhi here key is name

{'name': 'shubhi', 'age': '20'}

In [13]:
#ACCESSSING ELEMENTS FROM DICTIONARY
print(my_dict['name'])
print(my_dict['age'])
print(my_dict.get('age'))
print(my_dict.get('name'))
#error occur when access a key that does not exsit
print(my_dict['address'])#use this if know value
#using get will never give an error
print(my_dict.get('address')) #use this if does know value

shubhi
20
20
shubhi
None

In [15]:
my_dict['age']=19
print(my_dict)
#add item item

{'name': 'shubhi', 'age': 19}

In [16]:
squares={1:1, 2:2, 3:5, 4:9, 5:25}
# to remove a particular 
print(squares.pop(4))
#item,return its value
print(squares.popitem())

9
(5, 25)

In [20]:
s1={1,2,3,4,5,6,7,8,9,10}
print(s1)
sl=list(s1)
st=tuple(sl)
print(st)
a= set([1,2,3,4,2,3,3])
print(a)
b=set((1,2,3,4,5,6,7,8,9))
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
report ={
    'student 1': {
        'name': 'john',
        'marks': {
            'maths': 80,
            'english': 85,
            'science': 70,
            'hindi': 85
        }
    },
    'student 2':{
        'name': 'mary',
        'marks': {
            'maths': 70,
            'english':36,
            'science':75,
            'hindi':80
        }
    }
}

In [22]:
print(report['student 1'])

{'name': 'john', 'marks': {'maths': 80, 'english': 85, 'science': 70, 'hindi': 85}}

In [26]:
print(report['student 1']['name'])
print(report['student 2']['marks'])
print(report['student 2']['marks']['english'])

john
{'maths': 70, 'english': 36, 'science': 75, 'hindi': 80}
36

In [27]:
# loops for dictionary
for k,v in report .items():
    print(k,v)

student 1 {'name': 'john', 'marks': {'maths': 80, 'english': 85, 'science': 70, 'hindi': 85}}
student 2 {'name': 'mary', 'marks': {'maths': 70, 'english': 36, 'science': 75, 'hindi': 80}}

In [29]:
#nested loops for dictionary
for k,v in report.items():
    print("student:",k)
    if isinstance(v,dict):#it checks if the value belongs to that intance just like type function
        for k1,v1 in v.items():
            if isinstance(v1,dict):
                for sub,marks in v1.items():
                    print(sub,marks)
            else:
                print(v1)
    else:
        print(v)

student: student 1
john
maths 80
english 85
science 70
hindi 85
student: student 2
mary
maths 70
english 36
science 75
hindi 80

In [2]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [4]:
list.append?

Signature: list.append(self, object, /)
Docstring: Append object to the end of the list.
Type:      method_descriptor

In [5]:
print(print()) #fuction that does not return value

None

In [8]:
.isupper()

NameError: name 'shubhi' is not defined