In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
filepath='cps_85_wages.csv'
if not os.path.exists(filepath):
    print('File not found')
else:
    df=pd.read_csv(filepath,index_col=0)
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 534 entries, 8 to 16
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SOUTH       534 non-null    object
 1   SEX         534 non-null    object
 2   EXPERIENCE  534 non-null    int64
 3   UNION       534 non-null    object
 4   WAGE        534 non-null    float64
 5   AGE         534 non-null    int64
 6   RACE        534 non-null    object
 7   OCCUPATION  534 non-null    object
 8   SECTOR      534 non-null    object
 9   MARR        534 non-null    object
dtypes: float64(1), int64(2), object(7)
memory usage: 45.9+ KB
None

In [3]:
df.columns

Index(['SOUTH', 'SEX', 'EXPERIENCE', 'UNION', 'WAGE', 'AGE', 'RACE',
       'OCCUPATION', 'SECTOR', 'MARR'],
      dtype='object')

In [13]:
df.plot(kind='scatter',x='AGE',y='EXPERIENCE',alpha=0.5',c='EXPERIENCE',alpha=0.5,c='EXPERIENCE',cmap='viridis',figsize=(10,7),marker='s',s='AGE',edgecolor='black')

SyntaxError: invalid syntax (1212678333.py, line 1)

In [14]:
df

'cps_85_wages'

In [ ]:
#boxplot for visualization between union & experience